# Database connection string targeting PostgreSQL container named 'postgres' on network 'infra'
DATABASE_URL="postgresql://asmita:asmita@postgres:5432/DeliveryDB"

# Google Sheet Source URL
NEXT_PUBLIC_SHEET_URL="https://docs.google.com/spreadsheets/d/19oxRDn6uiERIB97Jjz75aR2cEjzdWCFMWsnQJpDX2qg/edit?gid=0#gid=0"

# Application Port
PORT=3000
